/* app css stylesheet */
/*.form-horizontal .control-label.wide {*/
    /*width: 180px;*/
/*}*/

/*.form-horizontal .controls.wide {*/
    /*margin-left: 200px;*/
/*}*/

.cool-slider {
    width: 400px;
}

.jslider {
    margin-top: 5px;
}
.money-calculation {
    font-size: 22px;
}

.no-label {
    margin-left: 180px;
}

.state-checkbox {
    width: 200px;
}

.lead-count-loading {
    margin-left: 5px;
}

.main {
    margin: auto;
    width: 960px;
}

.cool-font {
    font-family: 'Sintony', sans-serif;
}

.header {
    padding-top: 20px;
    border-bottom: black 5px solid;
}
.header ul li {
    margin: 10px 20px 10px 0px;
}
.nav ul {
    list-style: none;
    margin:0px;
}
.nav ul li {
    font-size: 13px;
    display: inline-block;
    list-style-type: none;
}
.logo-strip {
    height: 120px;
}
.tabs {
    border-top: 1px #dedede solid;
    border-bottom: 1px #dedede solid;
    padding: 0px 5px;
    margin-top: 10px;
}
.tabs ul li {
    margin: 15px 20px 15px 0px;
}
.wizard {
    width:659px;
    float:left;
    padding-right:30px;
}
.summery {
    width:260px;
    float:left;
    padding-left: 10px;
}
dl.dl-horizontal dt.facet {
    width:130px;
    white-space:normal;
    font-size: 11px;
}

dl.dl-horizontal dd {
    margin-left: 140px;
}
.facet-label {
    border-radius:3px;
    display: inline-block;
    padding: 3px 6px;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
}
.zip-list .span5 {
    height: 330px;
}
.zip-list .span4 {
    height: 330px;
}
.zip-list .span2 {
    height: 330px;
}
.middle {
    display: block;
    position: relative;
    top: 50%;
    font-size: 2em;
}
.middle-button {
    position: relative;
    top: 40%;
    font-size: 16px;
}
#buyForm input.ng-invalid-credit-card {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
    color: #b94a48;
    border-color: #ee5f5b;
}

.upload-zone {
    position: relative;
    width:250px;
    height: 150px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.upload-zone .browse {
    margin-top: 10px;
}
.responders .btn {
    width:210px;
}
.paypal-btn {
    cursor: pointer;
}