/* app css stylesheet */

.search-box {
    padding: 150px;
}

.search-input {
    padding: 10px;
}

.slider {
    width: 500px;
}

.form-horizontal .control-label.wide {
    width: 180px;
}

.form-horizontal .controls.wide {
    margin-left: 200px;
}

.cool-slider {
    width: 700px;
}

#loader {
    text-align: center;
    width: 200px;
    height: 200px;
}

.jslider {
    margin-top: 5px;
}

.wizard-tabs .control-group .controls {
    height: 40px;
}

.wizard-tabs .control-group:first-child {
    margin-top: 5px;
}

.money-calculation {
    font-size: 22px;
}