/* app css stylesheet */
.slider {
    width: 500px;
}

.form-horizontal .control-label.wide {
    width: 180px;
}

.form-horizontal .controls.wide {
    margin-left: 200px;
}

.cool-slider {
    width: 500px;
}

#loader {
    text-align: center;
    width: 200px;
    height: 200px;
}

.jslider {
    margin-top: 5px;
}

.wizard-tabs .control-group:first-child {
    margin-top: 5px;
}

.money-calculation {
    font-size: 22px;
}

.no-label {
    margin-left: 180px;
}
.state-checkbox {
    width:200px;
}
.lead-count-loading {
    margin-left:15px;
}