<div class="btn-group-vertical responders" ng-model="responseLevel" bs-buttons-radio>
    <h5>Improve connect rate<a href="" class="response-level-help" ng-click="help()">What is it?</a></h5>
    <button type="button" class="btn" value="none">All</button>
    <button type="button" class="btn" value="cdr_connected">Phone verified</button>
    <button type="button" class="btn" value="cdr_seconds_30">Responders</button>
    <button type="button" class="btn" value="cdr_seconds_300">Premium Responders</button>
</div>