<div class="span6">
    <form class="form-horizontal">
        <div class="control-group">
            <lable class="control-label">Income:</lable>
            <div class="controls">
                <select list-facet data-facet-id="income_estimated_household"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Net Worth:</lable>
            <div class="controls">
                <select list-facet data-facet-id="net_worth"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Language:</lable>
            <div class="controls">
                <select list-facet data-facet-id="language"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Home owner:</lable>
            <div class="controls">
                <select list-facet data-facet-id="home_owner"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Age:</lable>
            <div class="controls">
                <select list-facet data-facet-id="exact_age"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Credit rating:</lable>
            <div class="controls">
                <select list-facet data-facet-id="credit_rating"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Gender:</lable>
            <div class="controls">
                <select list-facet data-facet-id="gender"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Has phone number:</lable>
            <div class="controls">
                <select list-facet data-facet-id="has_telephone_number"></select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn" ng-click="next()">Next (demographics)</button>
            </div>
        </div>
    </form>
</div>
