<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Income:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="income_estimated_household" data-facet-label="Income" data-facet-last-value="+250000" data-facet-handle-label="$" data-use-thousands="true"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Net Worth:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="net_worth" data-facet-label="Net worth" data-facet-last-value="+750000" data-facet-handle-label="$" data-use-thousands="true"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Credit rating:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="credit_rating" data-facet-label="Credit rating" data-facet-handle-label="Points"/>
            </div>
        </div>
    </div>
</form>

<form class="form-inline no-label">
    <label class="checkbox">
        <input type="checkbox" checkbox-facet data-facet-id="credit_card_user" data-facet-label="Credit card user" data-checked-value="true"/>Credit card holder
    </label>

    <label class="checkbox">
        <input type="checkbox" checkbox-facet data-facet-id="premium_card_holder" data-facet-label="Premium card holder" data-checked-value="true"/>Premium card holder
    </label>

    <label class="checkbox">
        <input type="checkbox" checkbox-facet data-facet-id="bank_card_holder" data-facet-label="Debit card holder" data-checked-value="true"/>Debit card holder
    </label>
</form>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Available credit range:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="credit_range_of_new_credit" data-facet-label="Available credit range" data-facet-handle-label="$"/>
            </div>
        </div>
    </div>
</form>
<form class="form-inline no-label" style="width:400px;">

    <label class="checkbox">
        <input type="checkbox" checkbox-facet data-facet-id="investments_personal" data-facet-label="Personal investor" data-checked-value="true"/>Personal investor
    </label>

    <label class="checkbox">
        <input type="checkbox" checkbox-facet data-facet-id="investments_real_estate" data-facet-label="Read estate investor" data-checked-value="true"/>Real estate investor
    </label>

    <label class="checkbox">
        <input type="checkbox" checkbox-facet data-facet-id="investments_stocks_bonds" data-facet-label="Stocks investor" data-checked-value="true"/>Stocks investor
    </label>

    <label class="checkbox">
        <input type="checkbox" checkbox-facet data-facet-id="money_seekers" data-facet-label="Money seeker" data-checked-value="true"/>Money seeker
    </label>

    <label class="checkbox">
        <input type="checkbox" checkbox-facet data-facet-id="investments_foreign" data-facet-label="Foreign investor" data-checked-value="true"/>Foreign investor
    </label>
</form>