<h5>Mail</h5>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="mail_order_buyer" data-facet-label="Mail order buyer" data-checked-value="true"/>Mail order buyer
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="mail_order_responder" data-facet-label="Mail order responder" data-checked-value="true"/>Mail order responder
        </label>
    </div>
</div>
<h5>Clubs</h5>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="membership_clubs" data-facet-label="Membership clubs" data-checked-value="true"/>Membership clubs
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="value_priced_general_merchandise" data-facet-label="Value priced general merchandise" data-checked-value="true"/>Value priced general merchandise
        </label>
    </div>
</div>
<h5>Apparels</h5>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="apparel_womens" data-facet-label="Women's Apparel" data-checked-value="true"/>Women's Apparel
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="apparel_womens_petite" data-facet-label="Petite women's apparel" data-checked-value="true"/>Petite women's apparel
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="apparel_womens_plus_sizes" data-facet-label="Plus sizes women's apparel" data-checked-value="true"/>Plus sizes women's apparel
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="young_womens_apparel" data-facet-label="Young women's apparel" data-checked-value="true"/>Young women's apparel
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="apparel_mens" data-facet-label="Men's apparel" data-checked-value="true"/>Men's apparel
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="apparel_mens_big_and_tall" data-facet-label="Big and tall men's apparel" data-checked-value="true"/>Big and tall men's apparel
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="young_mens_apparel" data-facet-label="Young men's apparel" data-checked-value="true"/>Young men's apparel
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="apparel_hildrens" data-facet-label="Children apparel" data-checked-value="true"/>Children apparel
        </label>
    </div>
</div>
<h5>Misc</h5>
<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="health_and_beauty" data-facet-label="Health and beauty" data-checked-value="true"/>Health and beauty
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="beauty_cosmetics" data-facet-label="Beauty cosmetics" data-checked-value="true"/>Beauty cosmetics
        </label>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <label class="checkbox">
            <input type="checkbox" checkbox-facet data-facet-id="jewelry" data-facet-label="Jewelry" data-checked-value="true"/>Jewelry
        </label>
    </div>
</div>