<form class="form-horizontal">

    <div class="control-group">

        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" checkbox-facet data-facet-id="home_owner" data-facet-label="Home owner" data-checked-value="o"/>Home Owner
            </label>
        </div>
    </div>
    <h5>Most recent mortgage</h5>
    <div class="control-group">
        <label class="control-label">Home market value:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="home_market_value" data-facet-label="Home market value" data-facet-last-value="+2000000" data-facet-handle-label="$" data-use-thousands="true"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Loan to value:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="loan_to_value" data-facet-label="Loan to value" data-facet-handle-label="%" />
            </div>
        </div>
    </div><div class="control-group">
        <label class="control-label">Mortgage Amount:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="most_recent_mortgage_amount" data-facet-label="1st mortgage amount" data-facet-handle-label="$" data-use-thousands="true"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Interest rate:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="most_recent_mortgage_interest_rate" data-facet-label="1st mortgage interest rate" data-facet-handle-label="%" data-facet-label-addon="%"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Mortgage date:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="most_recent_mortgage_date" data-facet-label="1st mortgage date" data-facet-handle-label="Year"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Mortgage loan type:</label>

        <div class="controls">
            <select list-facet data-facet-id="most_recent_mortgage_loan_type" data-facet-label="1st mortgage loan type" multiple></select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Mortgage interest rate type:</label>

        <div class="controls">
            <select list-facet data-facet-id="most_recent_mortgage_interest_rate_type" data-facet-label="1st interest rate type" multiple></select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Lender name:</label>

        <div class="controls">
            <select list-facet data-facet-id="most_recent_lender" data-facet-label="1st lender name" multiple class="input-xlarge"></select>
        </div>
    </div>

    <h5>Second Most recent mortgage</h5>

    <div class="control-group">
        <label class="control-label">Mortgage Amount:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="second_most_recent_mortgage_amount" data-facet-label="2nd mortgage amount" data-facet-handle-label="$"
                       data-use-thousands="true"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Interest rate:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="second_most_recent_mortgage_interest_rate" data-facet-label="2nd mortgage interest rate" data-facet-handle-label="%" data-facet-label-addon="%"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Mortgage date:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="second_most_recent_mortgage_date" data-facet-label="2nd mortgage date" data-facet-handle-label="Year"/>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Mortgage loan type:</label>

        <div class="controls">
            <select list-facet data-facet-id="second_most_recent_mortgage_loan_type" data-facet-label="2nd mortgage load type" multiple></select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Interest rate type:</label>

        <div class="controls">
            <select list-facet data-facet-id="second_most_recent_mortgage_interest_rate_type" data-facet-label="2nd mortgage interest rate type" multiple></select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Lender name:</label>

        <div class="controls">
            <select list-facet data-facet-id="second_most_recent_lender" data-facet-label="2nd lender name" multiple class="input-xlarge"></select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Year built:</label>

        <div class="controls">
            <div class="cool-slider">
                <input cool-slider-facet type="slider" value="0;10000000" data-facet-id="year_built" data-facet-label="Year built" data-facet-handle-label="Year"/>
            </div>
        </div>
    </div>

    <div class="control-group">

        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" checkbox-facet data-facet-id="pool" data-facet-label="Has pool" data-checked-value="true"/>Has pool
            </label>
        </div>
    </div>

    <div class="control-group">

        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" checkbox-facet data-facet-id="air_conditioning" data-facet-label="Home owner" data-checked-value="a,b,c,d,e,f,g,h,i,j,k,l"/>Air conditioning
            </label>
        </div>
    </div>

</form>