<h4>Here is a list of the attributes you selected:</h4>

<facets></facets>

<hr/>

<form class="form-horizontal" name="buyForm" id="buyForm">
    <div class="control-group">
        <label class="control-label">Suppression list:</label>

        <div class="controls" style="padding-top:5px;font-size: 22px;">
            <span class="btn" ng-click="uploadSuppressionList()">{{uploadSuppressionListButtonText}}</span>
            <h6 ng-show="hasSuppressionLists">Your suppression list will be analyzed during list creation, so final lead counts may very, you will only be billed for the leads delivered</h6>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Available:</label>

        <div class="controls" style="padding-top:5px;font-size: 22px;">
            {{totalFormatted}} households
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Your Order of:</label>

        <div class="controls">
            <div choose-number-of-leads how-many-leads="howManyLeads" price-per-lead="pricePerLead" total="total"></div>
        </div>
    </div>

    <div class="alert alert-error" ng-show="error">
        Error: {{error_message}}
    </div>
    <div class="control-group">
        <label class="control-label">Email:</label>

        <div class="controls">
            <input type="email" name="email" class="input-xlarge" placeholder="Email" ng-model="$parent.email" required mix-panel-report event-name="Order form filled" event-trigger="focusout" event-value-type="value" event-field="Email"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">First name:</label>

        <div class="controls">
            <input type="text" class="input-large" placeholder="First name" ng-model="$parent.firstName" required mix-panel-report event-name="Order form filled" event-trigger="focusout" event-value-type="value" event-field="First name"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Last name:</label>

        <div class="controls">
            <input type="text" class="input-large" placeholder="Last name" ng-model="$parent.lastName" required mix-panel-report event-name="Order form filled" event-trigger="focusout" event-value-type="value" event-field="Last name"/>
        </div>
    </div>


</form>
<form class="form-horizontal" name="creditcardFrom" id="creditcardFrom" ng-show="showPlan(plan,'regular')">
    <div class="control-group">
        <label class="control-label">Payment method:</label>

        <div class="controls">
            <div class="btn-group" ng-model="paymentMethod" bs-buttons-radio>
                <button type="button" class="btn" value="creditcard">Credit Card</button>
                ,g
                <button type="button" class="btn" value="paypal">Paypal</button>
            </div>
        </div>
    </div>

    <div class="creditcard-details" ng-show="showPaymentMethod(paymentMethod,'creditcard')">
        <div class="control-group">
            <label class="control-label">Credit card number:</label>

            <div class="controls">
                <input type="text" class="input-xlarge cc-number" placeholder="Credit card number" ng-model="ccNumber" mix-panel-report event-name="Order form filled" event-trigger="focusout" event-value-type="boolean"
                       event-field="Credit card" credit-card-validation required/>
                <img src="img/visa_mastercard.jpg"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Expiration date:</label>

            <div class="controls">
                <select class="input-small inline" ng-model="$parent.ccMonth" mix-panel-report event-name="Order form filled" event-trigger="focusout" event-value-type="boolean" event-field="Exp month" required>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>

                <select class="input-small inline" ng-model="$parent.ccYear" mix-panel-report event-name="Order form filled" event-trigger="focusout" event-value-type="boolean" event-field="Exp year" required>
                    <option value="13">2013</option>
                    <option value="14">2014</option>
                    <option value="15">2015</option>
                    <option value="16">2016</option>
                </select>
            </div>
        </div>

        <div class="control-group" style="display:none">
            <label class="control-label">CCV:</label>

            <div class="controls">
                <input type="text" class="input-small" placeholder="CCV" ng-model="$parent.ccCCV" value="000" mix-panel-report event-name="Order form filled" event-trigger="focusout" event-value-type="boolean" event-field="CCV"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn" ng-click="buyCreditCard()" ng-disabled="isBuyButtonDisabled()">{{buyButtonText}}</button>
            </div>
        </div>
    </div>

    <div class="paypal-details" ng-show="showPaymentMethod(paymentMethod,'paypal')">
        <div class="control-group">
            <div class="controls">
                <!--<img src="/img/paypal.gif" width="83" ng-click="buyPayPal()" class="paypal-btn"/>-->
                <h4>Coming soon... </h4>
                <h6>we can help you if this is critical email support@marketing-data.net</h6>
            </div>
        </div>
    </div>
</form>
<form class="form-horizontal" ng-show="showPlan(plan,'unlimited')">
    <div class="paypal-details">
        <div class="control-group">
            <div class="controls">
                <button class="btn" ng-click="buyUnlimited()" ng-disabled="isBuyButtonDisabled()" >Download</button>
            </div>
        </div>
    </div>
</form>
<form class="form-horizontal" ng-show="showPlan(plan,'wait')">
    <div class="paypal-details">
        <div class="control-group">
            <div class="controls">
                loading your plan... <img src="img/lead-count-loading.gif" style="margin-left: 5px"/>
            </div>
        </div>
    </div>
</form>


