<div class="span6">
    <form class="form-horizontal">
        <div class="control-group">
            <lable class="control-label">Tennis</lable>
            <div class="controls">
                <select list-facet data-facet-id="tennis"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Golf</lable>
            <div class="controls">
                <select list-facet data-facet-id="golf"></select>
            </div>
        </div>

        <div class="control-group">
            <lable class="control-label">Skiing</lable>
            <div class="controls">
                <select list-facet data-facet-id="snow_skiing"></select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn" ng-click="next()">Buy the leads</button>
            </div>
        </div>
    </form>
</div>
<div class="span6">hello</div>
