<html lang="en" ng-app="leadFinder">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

<div class="container-fluid">
    <div style="height: 150px;"></div>
    <div class="row-fluid">
        <span class="span8">
            <div ng-controller="GeographicsController">
                <form class="form-horizontal" ng-show="displayGeo">
                    <div class="control-group">
                        <label class="radio">

                        </label>
                        <lable class="control-label wide"><input facet-excluder type="radio" value="zip" name="geo" style="float:left" ng-checked="true" exclude="geoExcluded"/>Choose a state</lable>
                        <div class="controls wide">
                            <select list-facet data-facet-id="state" data-facet-label="State" exclude="geoExcluded"></select>
                        </div>
                    </div>

                    <div class="control-group">
                        <lable class="control-label wide"><input facet-excluder type="radio" value="state" name="geo" style="float:left" exclude="geoExcluded"/>Fill in a list of zip codes</lable>
                        <div class="controls wide">
                            <textarea multiline-facet data-facet-id="zip" data-facet-label="Zip" exclude="geoExcluded" class="input-xlarge" rows="10"></textarea>
                        </div>
                    </div>


                    <div class="control-group">
                        <div class="controls wide">
                            <button class="btn" ng-click="next()">Next step (demographics)</button>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-controller="WizardController">
                <tabs display-tabs="displayTabs">
                    <pane title="Demographics">
                        <div>
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <lable class="control-label">Income:</lable>
                                    <div class="controls">
                                        <div class="slider" slider-facet data-facet-id="income_estimated_household" data-facet-label="Income"></div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <lable class="control-label">Net Worth:</lable>
                                    <div class="controls">
                                        <div class="slider" slider-facet data-facet-id="net_worth" data-facet-label="Net worth"></div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <lable class="control-label">Language:</lable>
                                    <div class="controls">
                                        <select list-facet data-facet-id="language" data-facet-label="Language"></select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <lable class="control-label">Home owner:</lable>
                                    <div class="controls">
                                        <select list-facet data-facet-id="home_owner" data-facet-label="Home Owner"></select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <lable class="control-label">Home market value:</lable>
                                    <div class="controls">
                                        <div class="slider" slider-facet data-facet-id="home_market_value" data-facet-label="Home market value"></div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <lable class="control-label">Age:</lable>
                                    <div class="controls">
                                        <div class="slider" slider-facet data-facet-id="exact_age" data-facet-label="Age"></div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <lable class="control-label">Credit rating:</lable>
                                    <div class="controls">
                                        <div class="slider" slider-facet data-facet-id="credit_rating" data-facet-label="Credit rating"></div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <lable class="control-label">Gender:</lable>
                                    <div class="controls">
                                        <select list-facet data-facet-id="gender" data-facet-label="Gender"></select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" checkbox-facet data-facet-id="presence_of_children" data-facet-label="Has children" data-checked-value="Y"/>Has children
                                        </label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" checkbox-facet data-facet-id="has_telephone_number" data-facet-label="Phone listed" data-checked-value="T"/>Has phone number
                                        </label>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </pane>

                    <pane title="Mortgage">
                        <div>
                            <form class="form-horizontal">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" checkbox-facet data-facet-id="tennis" data-facet-label="Tennis" data-checked-value="y"/>Tennis
                                        </label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" checkbox-facet data-facet-id="golf" data-facet-label="Golf" data-checked-value="y"/>Golf
                                        </label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" checkbox-facet data-facet-id="snow_skiing" data-facet-label="Skiing" data-checked-value="y"/>Skiing
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </pane>
                </tabs>
            </div>
    </span>
        <span class="span4">
            <div ng-controller="SummeryController">
                You have selected {{total}} leads so far

                <div ng-repeat="facetIndicator in selectedFacetsIndicators">
                    <div>{{facetIndicator.label}} -> {{facetIndicator.value}}</div>
                </div>

                <span class="btn" ng-click="download()">Download</span>

            </div>
        </span>
    </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.2/angular-strap.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
</body>
</html>